---
import Icon from "@components/icon.astro";
import { useTranslations, getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="tooltip" data-tip={t("nav.theme")}>
  <button type="button" id="theme-selector" class="cursor-pointer">
    <span class="sr-only">
      Enable
      <span class="dark:hidden">light</span>
      <span class="hidden dark:inline">dark</span>
      mode
    </span>

    <Icon icon="sun" size="sm" className="hidden dark:inline text-white" />

    <Icon icon="moon" size="sm" className="dark:hidden text-primary"  />
  </button>
</div>

<script>
  document.getElementById("theme-selector")?.addEventListener("click", () => {
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
      document.documentElement.classList.remove("dark");
    } else {
      localStorage.theme = "dark";
      document.documentElement.classList.add("dark");
    }
  });
</script>
