---
import { useTranslations } from "@i18n/utils";

const { lang = "es" } = Astro.props;
const t = useTranslations(lang);

---
<div class="tooltip" data-tip={t("nav.language")}>
    <div class="text-primary dark:text-white cursor-pointer">
        {lang === "es" ? <a href="/en/">EN</a> : <a href="/es/">ES</a>}
    </div>
</div>
