---

---

<footer
    class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4 border-t-1"
>
    <aside class="grid-flow-col items-center">
        <p class="text-bodyRegular">
            © {new Date().getFullYear()} - <span
                class="text-bodyLarge text-primary dark:text-aqua"
                >Luis Muñoz</span>
        </p>
    </aside>
    <nav
        class="grid-flow-col gap-4 md:place-self-center md:justify-self-end text-bodyLarge"
    >
        <a href="">
            GitHub
        </a>
        <a href="">
            LinkedIn
        </a>
    </nav>
</footer>

<style></style>
