@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* .quantico-regular {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

/* .quantico-bold {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
} */

html,
body {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 1rem 8rem;
    width: 100%;
    height: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@import "tailwindcss";

@plugin "daisyui" {
    themes: false;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --text-h1: 64px;
    --text-h2: 56px;
    --text-h3: 48px;
    --text-h4: 40px;
    --text-h5: 32px;
    --text-h6: 24px;

    --text-bodyLarge: 18px;
    --text-bodyRegular: 16px;
    --text-bodySmall: 14px;
    --text-paragraph: 16px;

    --color-primary: #215373;
    --color-secondary: #363A4B;
    /* aqua */
    --color-accent: #369294;
    --color-white: #efefef;
    --color-gray: #D9D9D9;
    --color-ligth-blue: #51ABAD;
    --color-black: #2D2D2D;
    --color-black-2: #353535;
    --color-aqua: #369294;
}


.nav-container {
    @apply flex items-center justify-center gap-x-8 rounded-lg p-5 border border-secondary dark:border-aqua;
}

.body-bg {
    @apply bg-white text-secondary dark:bg-black dark:text-white;
}

.section-spacing {
    @apply my-20
}

/* tooltips */
.tooltip {
    @apply tooltip tooltip-primary dark:tooltip-accent text-white;
}

/* buttons */
.base-button {
    @apply flex justify-between items-center gap-1 rounded-lg px-4 py-2
}

.base-button.outlined {
    @apply border-1 border-primary dark:border-aqua text-primary dark:text-white
}

.base-button.filled {
    @apply bg-primary dark:bg-aqua text-white hover:bg-aqua dark:bg-ligth-blue transition duration-300 ease-in-out
}