---
import ProjectsWeb from "./parts/projectsWeb.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="section-spacing" id="projects">
    <h4 class="text-h4 text-primary dark:text-accent">{t("Project.title")}</h4>

    <div class="tabs tabs-border !text-bodyRegular">
        <input
            type="radio"
            name="my_tabs"
            class="tab"
            aria-label={t("Project.webProjects")}
            checked="checked"
        />
        <div class="tab-content bg-base-100 p-10">
            <ProjectsWeb />
        </div>

        <!-- <input type="radio" name="my_tabs" class="tab" aria-label={t("Project.UIProjects")} />
        <div class="tab-content bg-base-100 p-10">Tab content 2</div> -->
    </div>

</div>

<style></style>
