---
import Image from "astro/components/Image.astro";
import Icon from "./icon.astro";

const { img, title = "ProjectName", className } = Astro.props;

const imgSrc = img || "https://fakeimg.pl/600x400?text=img";
---

<div
    class={"card hover:shadow-md shadow-accent w-full md:w-[22rem] h-full md:h-[25rem] flex flex-col gap-3 justify-between border-2 border-primary dark:border-ligth-blue rounded-lg p-4 " +
        className}
>
    <Image
        src={imgSrc}
        alt="Astro Portfolio"
        width={332}
        height={170}
        class="imgCard mx-auto w-[332px] h-[170px] rounded-md animate-flip-down"
        loading="lazy"
    />

    <div class="cardTitle grid grid-cols-[1fr_auto] items-start h-full md:h-[4.5rem]">
        <h6
            class="text-h6 text-primary dark:text-ligth-blue line-clamp-3 overflow-hidden"
        >
            {title}
        </h6>
        <button
            class="ml-auto border-2 w-fit h-fit rounded-full px-2 hover:bg-gray dark:hover:bg-primary transition-colors duration-300 cursor-pointer FlipCardBtn"
        >
            <span class="iconRight block">
                <Icon icon="chevrons-right" class="text-white" />
            </span>
            <span class="iconLeft hidden">
                <Icon icon="chevrons-left" class="text-white" />
            </span>
        </button>
    </div>

    <div
        class="cardDescription hidden animate-flip-up text-sm text-gray-500 dark:text-white h-[80px] overflow-y-auto"
    >
        <slot name="description">
            <p class="text-sm text-gray-500 dark:text-gray-400 line-clamp-4">
                Project description goes here.
            </p>
        </slot>
    </div>

    <div class="flex gap-2">
        <slot name="techs" />
    </div>

    <slot name="links" />
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const cards = document.querySelectorAll(".card");

        cards.forEach((card) => {
            const img = card.querySelector(".imgCard");
            const iconRight = card.querySelector(".iconRight");
            const iconLeft = card.querySelector(".iconLeft");
            const toggleBtn = card.querySelector(".FlipCardBtn");
            const title = card.querySelector(".cardTitle");
            const desc = card.querySelector(".cardDescription");

            toggleBtn?.addEventListener("click", () => {
                title?.classList.toggle("animate-fade");
                img?.classList.toggle("hidden");
                iconRight?.classList.toggle("hidden");
                iconLeft?.classList.toggle("hidden");
                title?.classList.toggle("flex-row-reverse");
                desc?.classList.toggle("hidden");
                desc?.classList.toggle("flex");
            });
        });
    });
</script>

<style></style>
