---
import "../styles/global.css";
import Navbar from "../components/ui/Navbar.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="stylesheet" href="../styles/global.css" /> -->
		<meta name="generator" content={Astro.generator} />

		<title>Portafolio</title>
	</head>
	<body>
		<Navbar lang={lang} />
		<main>
			<slot />
		</main>
	</body>
</html>
